<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Estoque Mínimo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if session['user_id'] %}
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('listar_produtos') }}">Produtos</a></li>
                <li><a href="{{ url_for('listar_depositos') }}">Depósitos</a></li>
                <li><a href="{{ url_for('listar_usuarios') }}">Usuários</a></li>
                <li><a href="{{ url_for('logout') }}">Sair</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('registrar') }}">Registrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Relatório de Estoque Mínimo</h1>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Estoque Mínimo</th>
                    <th>Estoque Atual</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos_abaixo_minimo %}
                <tr {% if produto.estoque_atual <= produto.estoque_minimo %}class="abaixo-minimo" {% endif %}>
                    <td>{{ produto.codigo }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.estoque_minimo }}</td>
                    <td>{{ produto.estoque_atual }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('listar_produtos') }}">Voltar para a Listagem de Produtos</a>
    </main>

    <footer>
        <p>&copy; {{ datetime.datetime.now().year }} Seu Sistema de Estoque</p>
    </footer>
</body>

</html>